/* Common classes */
div.flex-row {
	display: flex;
	flex-direction: row;
}
div.flex-col {
	display: flex;
	flex-direction: column;
}

/* Setting up page background and main contents */
html {
	box-sizing: border-box;
	font-family: Trebuchet MS, Arial, sans-serif;
	background-color: #323232;
	background-image: url("/static/images/background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: rgba(250,250,255,0.85);
	min-height: 100vh;
}
div#main {
	min-height: 100vh;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin: auto;
	max-width: 150ch;
	color: #000000;
}

/* Login page */
div#login {
	margin: 1ch;
	padding: 1ch;
	border: 1px solid #909090;
	border-radius: 1ch;
}
div.login-field {
	margin: 0.5ch;
}

/* Header and Footer (and the in between) */
div#header {
	display: flex;
	justify-content: space-between;
	padding: 1ch 1ch;
}
div#footer {
	padding: 2ch;
	clear: both;
	text-align: center;
}
div#middle {
	margin: 0;
	padding: 0;
	width: 100%;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
p#site-name {
	color: #103838;
	font-size: 25px;
	margin: 0;
}

/* Note */
div#note {
	flex-wrap: wrap;
	justify-content: center;
	padding: 2ch;
	width: 70%;
	height: 100%;
}
div#note-toc {
	border: 1px solid #909090;
	border-radius: 1ch;
	margin: 1ch;
	padding: 1ch;
}
p#note-path {
	color: #898989;
	font-size: 20px;
	text-decoration: none;
	margin: 0;
}

/* Site Directory*/
div#site-directory {
	padding: 2ch;
	width: 30%;
	min-height: 100%;
	border-left: 1px solid #000000;
}

/* Edit note */
div#edit-menu {
	margin: 1ch;
}
textarea#editor {
	flex-grow: 1;
	margin: 1ch;
	border:solid 2px #000000;
	border-radius: 1ch;
	background-color: #ffffff;
	padding: 2ch;
	height: 100%;
	width: 100%;
	font-family: monospace;
	resize: none;
}

/* Small screens */
@media screen and (max-width: 100ch) {
	div#container {
		display: inline-block;
		position: relative;
		margin: 0;
		padding: 0;
	}
	div#note, div#site-directory {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}
	div#header, div#footer, div#note, div#site-directory {
		margin: 0;
		margin-bottom: 2ch;
	}
	div#site-directory {
		border: none;
		border-top: 1px solid #000000;
	}
	div#header {
		margin-top: 2ch;
	}
	div#spacer {
		display: none;
	}
}

/* Element styling */
hr {
	border: none;
	height: 1px;
	background-color: #909090;
}
button.blocky {
	color: #ffffff;
	background-color: #103838;
	border: none;
	border-radius: 1ch;
	padding: 0.5ch 2ch;
	font-weight: bold;
}
button.sitedir {
	color: #2a6c6c;
	text-decoration: none;
	border: none;

} 
button.sitedir:hover {
	text-decoration: underline;
}
details > details {
	margin-left: 2ch;
}
details > summary {
	list-style-type: "\21d2\20";
}
details > summary:hover {
	text-decoration: underline;
}
details[open] > summary {
	list-style-type: "\21d3\20";
}
details > p {
	margin: 0;
	margin-left: 2ch;
}
details[open] {
	margin-bottom: 1ch;
}

/* Rendered note contents */
p.toc-item {
	margin: 0;
}
p#note-title {
	color: #103838;
	font-size: 50px;
	font-weight: bold;
	text-decoration: none;
	margin: 0;
}
p.sec-title {
	font-size: 25px;
	margin: 0;
	font-weight: bold;
}
h1 {
	margin-top: 3ch;
	border-bottom: 1px solid #909090;
}

/* TEXT */
a {
	color: #2a6c6c;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
blockquote {
	font-family: cursive;
}

/* INLINE CODE */
code {
	color: #103838;
}

/* CODE BLOCKS */
code.sourceCode {
	color: #b0b0ff;
}
div.sourceCode {
	background-color: #103030;
	border-radius: 1ch;
	max-width: 80ch;
}
pre.sourceCode {
	max-width: 100%;
	padding: 1ch;
	overflow-x: scroll;
	scrollbar-color: rgba(255,255,255,0.35) rgba(0,0,0,0);
	scrollbar-width: thin;
}
a.sourceLine {
	color: #ffffff;
	text-decoration: none;
}
code span.al { color: #ff0000; }					/* Alert			red */
code span.an { color: #ffb0b0; font-weight: bold; } /* Annotation		salmon */
code span.at { }									/* Attribute */
code span.bn { color: #ccff00; }					/* BaseN			lime green */
code span.bu { color: #ffc800; }					/* BuiltIn			goldenrod */
code span.cf { color: #ffc800; }					/* ControlFlow		goldenrod */
code span.ch { color: #ccff00; }					/* Char				lime green */
code span.cn { color: #ccff00; font-weight: bold; } /* Constant			lime green */
code span.co { color: #c0c0c0; }					/* Comment			gray */
code span.cv { color: #ffb0b0; font-weight: bold; } /* CommentVar		salmon */
code span.do { color: #ffb0b0; }					/* Documentation	salmon */
code span.dt { color: #c020d0; }					/* DataType			purple */
code span.dv { color: #ccff00; }					/* DecVal			lime green */
code span.er { color: #ff0000; }					/* Error			red */
code span.ex { color: #ffb0b0; }					/* Extension		salmon */
code span.fl { color: #ccff00; }					/* Float			lime green */
code span.fu { color: #ffb0b0; }					/* Function			salmon */
code span.im { color: #f0b0b0; }					/* Import			salmon */
code span.in { color: #f0b0b0; font-weight: bold; } /* Information		salmon */
code span.kw { color: #ffc800; }					/* Keyword			goldenrod */
code span.op { color: #f0efd0; }					/* Operator */
code span.ot { color: #efef8f; }					/* Other */
code span.pp { color: #ffb0b0; font-weight: bold; } /* Preprocessor		salmon */
code span.sc { color: #ccff00; }					/* SpecialChar		lime green */
code span.ss { color: #ffffff; }					/* SpecialString	white */
code span.st { color: #ffffff; }					/* String			white */
code span.va { color: #b0b0ff; }					/* Variable			powder blue */
code span.vs { color: #ffffff; }					/* VerbatimString	white */
code span.wa { color: #ffb0b0; font-weight: bold; } /* Warning			salmon */

/* TABLES */
table, td, th {
	border-collapse: collapse;
	border: 1px solid #909090;
}
td {
	padding: 0.5ch;
}

/* MathJax */
mjx-math {
	color: rgb(0,75,75);
}
