div."edit-menu" {
	display: none;
}
button {
	margin: 0.5ch;
	color: #ffffff;
	background-color: #2a6c6c;
	border: solid 2px 153636;
	border-radius: 1ch;
	padding: 1ch;
}
button#"edit" {
	width: 100%;
}
div.editor { /* TODO: Change so that this effects div.contents upon button "edit-markdown" click */
	border:solid 2px #000000;
	border-radius: 1ch;
	background-color: #ffffff;
	padding: 20px;
	min-height:200px;
}
/* TODOs:
 * load contents of markdown file into contents div
 * Add a save button
 * move edit button to div.site-directory
 * Add a header that says "You are in editor mode"
 * Add Markdown formatting of text
 * Add Vim support
 */ 
