{% extends "tame.html" %}
{% block body %}
<div id="login-container">
 <div id="login-box">
  <h3 class="title">Login to TAME</h3>
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <div>
     {{ messages[0] }}
    </div>
   {% endif %}
  {% endwith %}
  <form id="loginForm" method="POST" action="/login">
   <div class="login-field">
    <div class="control">
     <input class="input is-large" type="username" name="username" placeholder="Username" autofocus="">
    </div>
   </div>
   <div class="login-field">
    <div class="control">
     <input id="password" class="input is-large" type="password" name="password" placeholder="Password">
    </div>
   </div>
   <div class="login-field">
    <label class="checkbox">
      <input type="checkbox" name="remember">
      Remember me
    </label>
   </div>
   <button class="blocky">
    Login
   </button>
  </form>
 </div>
</div>
{% endblock body %}
