{% extends "tame.html" %}
{% block body %}
  {% include 'header.html' %}
  <div id="middle" class="flex-row">
    <div id="note" class="flex-col">
      <div id="note-info">
        <p id="note-title"></p>
        <p id="note-path"></p>
        <button class="blocky" id="edit" onclick="$.fn.editNote()">Edit Note</button>
      </div> <!-- note-info -->
      <div id="note-toc"></div>
      <div id="note-rendered"></div>
    </div> <!-- id="note" -->
    <div id="site-directory" class="flex-col">
      <p class="sec-title">Notes</p>
      <button class="blocky" id="file" onclick="$.fn.newNote()">New Note</button>
      <hr>
      <div id="directory"></div>
    </div> <!-- id="site-directory" -->
  </div> <!-- id="middle" -->
  {% include 'footer.html' %}
{% endblock body %}
